.btn {
  margin-right: 10px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
  background-color: green;

  box-shadow: -2px 3px 12px 0px #000000;
}
.btn:focus,
.btn:hover {
  background-color: rgb(158, 156, 156);
}

.description {
  color: white;
  font-weight: 700;
}
